@model List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
            <td>Discount Rate</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { Id = customer.Id }, null) </td>
                <td>@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
    </tbody>
</table>


